#recent-component-home {
    background-color: #313131;
    text-align: center;
    width: 100%;
    height: 100px;
    box-shadow: 4px 2px  4px 4px rgb(13, 15, 21);

}

a {
    vertical-align: middle;
    line-height: 100px;
    font-weight: bold;
    font-size: 23px;
    color: white;
}

#recent-component-home a {
    font-size: 30px;
}
