.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#create-component-home {
    background-color: #687575;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    height: 100px;
    margin-top: 2rem;
    box-shadow: 4px 2px  4px 4px rgb(13, 15, 21);
}

#search-component-home {
    background-color: #687575;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    height: 100px;
    margin-top: 2rem;
    box-shadow: 4px 2px  4px 4px rgb(13, 15, 21);
}

#groups-component-home {
    background-color: #687575;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    height: 100px;
    margin-top: 2rem;
    box-shadow: 4px 2px  4px 4px rgb(13, 15, 21);
}

#players-component-home {
    background-color: #687575;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    height: 100px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 4px 2px  4px 4px rgb(13, 15, 21);
}

a {
    vertical-align: middle;
    line-height: 100px;
    text-decoration: none;
    font-weight: bold;
    font-size: 23px;
    color: white;
}

