.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#create-component-home {
    text-align: center;
    width: 100%;
    height: 130px;
    margin-bottom: 1rem;
    background-image: url('../../warhammer.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 4px 2px  4px 4px rgb(13, 15, 21);
}

#search-component-home {
    text-align: center;
    width: 100%;
    height: 130px;
    margin-bottom: 1rem;
    background: url('../../xwing.jpg') center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 4px 2px  4px 4px rgb(13, 15, 21);
}

#groups-component-home {
    text-align: center;
    width: 100%;
    height: 130px;
    margin-bottom: 1rem;
    background: url('../../magic.jpeg') center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 4px 2px  4px 4px rgb(13, 15, 21);
}

#players-component-home {
    text-align: center;
    width: 100%;
    height: 130px;
    margin-bottom: 1rem;
    background: url('../../players.jpg') center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 4px 2px  4px 4px rgb(13, 15, 21);
}

a {
    vertical-align: middle;
    line-height: 100px;
    text-decoration: none;
    font-weight: bold;
    font-size: 50px;
    color: white;
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
}

