<div class="nav">
  <div class="nav-header">
    <div class="nav-title" [routerLink]="['/']">
      MatchFinder
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <input type="checkbox" id="nav-check">
  <div [ngClass]="{'is-user': user, 'is-anon': anon}" class="nav-links">
    <a *ngIf= "!!user" [routerLink]="['/profile']">{{ user.username }}</a>
    <a *ngIf= "!!user" (click)="logout()">Logout</a>
    <a *ngIf= "!user" [routerLink]="['/login']">Login</a>
    <a *ngIf= "!user" [routerLink]="['/signup']">Signup</a>
  </div>
</div>
