form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(40, 46, 56);
    color: rgb(138, 144, 161);
}

div {
    margin-bottom: 1rem;
}

label {
    font-weight: bold;
}

input {
    margin-top: 0.5rem;
    width: 90%;
    background-color: rgb(38, 40, 50);
    border-color: rgb(38, 40, 50);
    color: rgb(138, 144, 161);
    border-radius: 3px;
    border: 1px solid transparent;
    box-shadow: inset 0 1px 2px rgb(13, 15, 21);
}

h1 {
    text-align: center;
}

.container {
    margin-bottom: 2rem;
}

.container > div {
    background: linear-gradient(to top, rgb(55, 64, 80), rgb(42, 42, 56));
    background-color: #3b3d44;
    padding: 0.5rem;
    box-shadow: inset 0 1px 2px rgb(13, 15, 21);

}


.group-info-pp {
    display: flex;
    flex-direction: row;


}

.group-info-address {
    display: flex;
    flex-direction: row;


}

.group-info-type {
    display: flex;
    flex-direction: row;

}

.group-description > input {
    min-height: 4rem;
    
}

button {
    background-color: #2b2e38;
    border-color: #1c1f27;
    box-shadow: 2px 2px  2px 2px rgb(13, 15, 21);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    color: rgb(138, 144, 161);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.group-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
