form {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(40, 46, 56);
    color: rgb(204, 206, 209);
}

div {
    margin-bottom: 1rem;
}

label {
    font-weight: bold;
    padding-right: 2rem;
    margin-left: 1rem;
}

input {
    margin-top: 0.5rem;
    width: 90%;
    background-color: rgb(38, 40, 50);
    border-color: rgb(38, 40, 50);
    color: rgb(204, 206, 209);
    border-radius: 3px;
    border: 1px solid transparent;
    box-shadow: inset 0 1px 2px rgb(13, 15, 21);
}

h1 {
    text-align: center;
}

.container {
    margin-bottom: 2rem;
}

.container > div {
    background: linear-gradient(to top, rgb(55, 64, 80), rgb(42, 42, 56));
    background-color: #3b3d44;
    padding: 0.5rem;
    box-shadow: inset 0 1px 2px rgb(13, 15, 21);
}

button {
    border-radius: 10px;
    border: 2px solid #1c1f27;
    box-shadow: 0px 20px  42px -8px rgb(13, 15, 21);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    color: rgb(204, 206, 209);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.group-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-create{
    background-color: #64715e;
}
.btn-back {
    background-color: #5a4343;
}
