<!-- <h1>New group</h1> -->

<form (ngSubmit)="submitForm(form)" #form="ngForm">

  <div class="container">
    <div class="group-name">
      <label>Group name </label>
      <input type="text" name="groupname" [(ngModel)]="groupname" #groupnameField="ngModel">
    </div>
    <div class="group-info-pp">
      <div class="group-info">
        <label>Players [2-4] </label>
        <input type="number" name="numplayers" [(ngModel)]="numplayers" #numplayersField="ngModel">
      </div>
      <div>
        <label>Points </label>
        <input type="number" name="numpoints" [(ngModel)]="numpoints" #numpointsField="ngModel">
      </div>
    </div>
    <div class="group-info-address">
    <div class="group-direction">
      <label>City </label>
      <input type="text" name="city" [(ngModel)]="city" #cityField="ngModel">
    </div>
    <div>
      <label>Address </label>
      <input type="text" name="address" [(ngModel)]="address" #addressField="ngModel">
    </div>
  </div>
  <div class="group-info-type">
    <div>
      <label>Date </label>
      <input type="date" name="date" [(ngModel)]="date" #dateField="ngModel">
    </div>

    <div class="group-type">
      <label>Type of game </label>
      <input type="text" name="gametype" [(ngModel)]="gametype" #gametypeField="ngModel">
    </div>
  </div>
    <div class="group-description">
      <label>Description </label>
      <input type="text" name="description" [(ngModel)]="description" #descriptionField="ngModel">
    </div>

    <div class="group-game">
      <label>Game </label>
      <input type="text" name="game" [(ngModel)]="game" #gameField="ngModel">
    </div>
  </div>
  <div class="group-buttons field submit">
    <button class="btn-back" [routerLink]="['/']">Back</button>
    <button class="btn-create" type="submit">Create</button>
  </div>
</form>