.user-info {
    /* margin-top: 3%; */
    display: flex;
    flex-direction: column;
}

.my-games {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    background-color: rgb(40, 46, 56);
    box-shadow: 2px 2px  2px 2px rgb(13, 15, 21);

}

.friends {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    box-shadow: 2px 2px  2px 2px rgb(13, 15, 21);

    background-color: rgb(40, 46, 56);
}

.ratings {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    background-color: rgb(40, 46, 56);
    box-shadow: 2px 2px  2px 2px rgb(13, 15, 21);

}

label {
    text-align: center;
    font-size: 1.5rem;
    padding: 5%;
    vertical-align: middle;
    line-height: 100px;
    text-decoration: none;
    font-weight: bold;
    color: #d1d1d4;
}

a {
    font-size: 2rem;
    padding: 5%;
    vertical-align: middle;
    text-decoration: none;
    color: rgb(138, 144, 161);
}

.profile {
    background: linear-gradient(to top, rgb(55, 64, 80), rgb(16, 19, 24));
    background-color: #3b3d44;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}
