.user-info {
    display: flex;
    flex-direction: column;
}

.my-games {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    background-color: rgb(40, 46, 56);
    box-shadow: 2px 2px  2px 2px rgb(13, 15, 21);
    width: 80%;
    border-radius: 5px;
}

.friends {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    box-shadow: 2px 2px  2px 2px rgb(13, 15, 21);
    width: 80%;
    background-color: rgb(40, 46, 56);
    border-radius: 5px;
}

.ratings {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    background-color: rgb(40, 46, 56);
    box-shadow: 2px 2px  2px 2px rgb(13, 15, 21);
    width: 80%;
    border-radius: 5px;
}

label {
    text-align: center;
    font-size: 1.5rem;
    padding: 5%;
    vertical-align: middle;
    line-height: 100px;
    text-decoration: none;
    font-weight: bold;
    color: #d1d1d4;
}

a {
    font-size: 2rem;
    padding: 5%;
    vertical-align: middle;
    text-decoration: none;
    color: #d1d1d4;
}

.profile {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
