/* ---- reset ---- */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
  
body {
  margin: 0;
  padding: 0;
}

body {
  background: url('./assets/img/background.jpg') no-repeat ;
  background-size: cover;
  font-family: 'Metamorphous', cursive;

  min-height: 100vh;
}

button {
  font-family: 'Metamorphous', cursive;
}